:root{
    --black:#000000;
    --white:#ffffff;
    --black2: #262626;
    --white2: #f2f2f2;
    --black3: #2f3640;
    --gray: #616161;
    --sm:12px;
    --ss:16px;
    --ss2:17px;
    --md:20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #030303;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23e40000' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
    color: var(--white);
    font-size: var(--ss);
    font-family: 'Oswald', sans-serif;
}

a{
    color: var(--white);
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width:90%;
    margin:auto;
}

/* Navigation */

.nav-main{
    font-size:var(--ss2);
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width:50px;
}

/*Nav left*/


.nav-main ul{
    display:flex;
}

.nav-main ul li{
    padding-left:10px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid var(--white);
}

.nav-main ul li a{
    padding:2px;
}


.nav-main ul.nav-menu{
    flex:1;
    margin-left: 20px;
}

.menu-btn{

    position: absolute;
    cursor: pointer;
    top:15px;
    right:20px;
    z-index: 2;
    font-size: 1.5rem;
    display:none;
}

/*SHOWCASE*/
hr{
    margin: 10px 0;
}

.showcase{
    width: 100%;
    height:550px;
    background: url(img/showcase2.jpg) no-repeat center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    margin-bottom:20px;
}

.btn{
    cursor: pointer;

    display: inline-block;

    border: 0;
    border: 1px solid var(--white);
    border-radius:10px;

    font-weight: bold;
    background: var(--black2);
    padding: 10px 20px;
    margin-top: 10px;

    color: var(--white); 
}

.btn:hover{
    opacity:0.7;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}

/*NEW CARDS*/
.new-cards{
    displaY:grid;
    grid-template-columns:  repeat(4,1fr);
    gap:25px;
    margin: 10px 0;
}

.new-cards img{
    width: 100%;
    height:180px;
}

.card h3{
    font-size: var(--md);
    margin: 10px 0;
}

.card a{
    padding: 10px 0;
    color:var(--white2);
    text-transform: uppercase;
    display:inline-block;
    font-weight: bold;
}

.card a:hover{
    text-decoration: underline;
}

/* CARDS BANNER ONE*/

.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url(img/tech-red.jpg);
    margin-bottom: 40px;
}

.cards-banner-one .content{
    width: 40%;
    padding: 90px 0  0 30px;
    color: var(--white);
}

.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0 20px 0;
}

/* CARDS BANNER TWO*/
.cards-banner-two{
    width: 100%;
    height:350px;
    background: url(img/image-five.jpg)no-repeat center/cover;
}

.cards-banner-two .content{
    width: 40%;
    padding: 90px 0  0 30px;
    
}

.cards-banner-two p,
.cards-banner-two h2{
    margin: 10px 0 20px 0;
}

/*Social*/

.social{
    margin: 50px;
    
}

.social p{
    text-align:center;
    font-size:30px;
    margin-bottom:20px;
}

.link{
    display:flex;;
    align-items:center;
    justify-content:center;

}

.link a{
    margin: 0 30px;
}

.link i {
    font-size: 3rem;
}

/*Footer Links*/

.footer-links{
    background: var(--black3);
    color: var(--gray);
    font-size: var(--sm);
    padding: 35px 0;
    
}

.footer-container{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-content: center;
    gap:10px;
    align-items:flex-start;
    justify-content:center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

.footer{
    
    background: var(--black3);
    color: var(--gray);
    font-size:var(--sm);
    text-align: center;
    padding: 20px 0;
    padding-bottom: 20px;
}

/*Media*/

@media(max-width:700px){


    .menu-btn{

        display: block;
    }

    
    .nav-main ul.nav-menu{ 
        display:block;
        position: absolute;
        top:0;
        left:0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: 0.9;
        transform: translateX(-400px);
        transition: transform 0.5s ease-in-out;
    }

    .nav-main ul.nav-menu.show{

        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li{
        padding:20px;
        border-bottom:  #ccc solid 1px;
        font-size: 14px;

    }

    .nav-main ul.nav-manu-right{
        margin-right: 50px;
    }

  

    .new-cards{
        grid-template-columns:repeat(2,1fr);
    }

    .cards-banner-one .content,
    .cards-banner-two .content{
        width:90%;
        font-size: var(--sm);
    }
}

@media(max-width:500px){
    .new-cards{
        grid-template-columns:1fr;
    }

    .new-cards img{
        height: 250px
    }

    .cards-banner-one .content,
    .cards-banner-two .content{
        width:100%;
        padding:60px 20px;
    }

    .footer-links .footer-container{

        grid-template-columns:1fr;
    }
}
